@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500;600&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Sono', sans-serif;
    font-weight: 500;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #B7B5E4;
}

#container{
    background-color: #1E1E24;
    width: 30%;
    height: 30vh;
    /*border: 3px solid #E8998D;*/
    border-radius: 20px;
    color: #fff;
    font-size: 30px;
    display:flex;
    align-items:center;
    align-content: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

#time-line{
    width:100%;
    font-size: 2.5em;
    text-align: center;
}

.time-button {
    border: none;
    font: inherit;
    color: inherit;
    justify-self: space-around;
    background-color: #A4C2A5;
    text-shadow: 0 0  5px #0F7173;
    width: 28%;
    min-height:30px;
    padding: 5px;
    margin: 2px;
    border-radius: 7px;
    cursor: pointer;
}

#start{
    width:40%;
    margin: 2px 15% 2px 15%;
    height: 20%;
    border-radius: 15px;
    font-size: 1,6em;
    display:block;
}

#pause,#stop{
    display:none;
}

#progress-bar{
    width: 90%;
    height:10px;
    border-radius:5px;
    background-color: #8f8f8f;
    transition: 0.3s linear;
    overflow: hidden;
}
#current-progress{
    width: 10%;
    height: inherit;
    border-radius: 5px 0 0 5px;
    background-color: #3EE08C;
}